body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin-left: 2em;
    margin-right: 2em;
    width: 400px;
}

.valid-error-fail {
    background: white;
    color: darkred;
    text-align: left;
}

h1 {
    font-size: 140%;
    color: teal;
    margin-bottom: .5em;
}

h2 {
    font-size: 120%;
    color: tan;
    margin-bottom: .5em;
    font-weight: bold;
}

label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input [type="text"] [type="email"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.quantity {
    width: 5em;
    text-align: right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

select {
    width: 16em;
}

span {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

br {
    clear: both;
}

.pad_top {
    padding-top: 0.25em;
}

.margin_left {
    margin-left: 0.5em;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50em;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 0.5em;
}

.right {
    text-align: right;
}
